<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LAB08</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/user/css/site.css" asp-append-version="true" />
</head>
<body>


    <header>
        <div class="top-header">
            <div class="logo">Quản lý cửa hàng vật tư</div>

            <div class="search-box">
                <input type="text" placeholder="Tìm kiếm sản phẩm..." />
                <button><i class="fa fa-search"></i></button>
            </div>

            <div class="header-icons">
                <a href="#"><i class="fa-regular fa-heart"></i></a>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                <a class="btn login" href="/Account/Login">Đăng nhập</a>
                <a class="btn register" href="/Account/Register">Đăng ký</a>
            </div>
        </div>

        <nav class="menu">
            <ul class="nav-menu">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link">
                        <i class="fas fa-boxes"></i>
                        <span>Danh mục</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Loại hàng 1</a>
                        <a href="#" class="dropdown-item">Loại hàng 2</a>
                        <a href="#" class="dropdown-item">Loại hàng 3</a>
                    </div>
                </li>

                <li><a href="#" class="nav-link">Giới thiệu</a></li>
                <li><a href="#" class="nav-link">Liên hệ</a></li>
            </ul>
        </nav>
    </header>


    <div class="content">
        @RenderBody()
    </div>

    <footer>
        <div class="footer-container">

            <div class="ft-column">
                <h4>Liên hệ</h4>
                <p>Liên hệ trong giờ làm việc</p>
                <p>SDT/Zalo: 0302370432</p>
                <p>Mail: dainhtb01722@gmail.com</p>
            </div>

            <div class="ft-column">
                <h4>Về chúng tôi</h4>
                <p>Giới thiệu</p>
                <p>Liên hệ</p>
                <p>FAQs</p>
            </div>

            <div class="ft-column">
                <h4>Chính sách</h4>
                <p>Hướng dẫn mua hàng</p>
                <p>Điều khoản thanh toán</p>
                <p>Giao hàng - vận chuyển</p>
                <p>Chính sách đặt cọc</p>
                <p>Chính sách bảo hành</p>
            </div>

            <div class="ft-column">
                <h4>Hợp tác</h4>
                <p>Tuyển dụng</p>
                <p>Chính sách đại lý</p>
                <p>Chương trình cộng tác viên</p>
                <p>Nhượng quyền thương hiệu</p>
                <p>Hợp tác phân phối</p>
            </div>
        </div>

        <p style="text-align:center;color:#fff;margin-top:20px;">
            © 2025 - Quản lý vật tư
        </p>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
